/*

// variables

// fonts
$heading-font: 'Oswald', sans-serif;
$body-font: 'Raleway', sans-serif;
$cursive: 'Aladin', cursive;

// colors
$gold: #ffcc00;
$secondary-color: #bd5bff;
$alt-color: rgb(44, 184, 240);
$black: #1c1e2f;
$white: #f5f5f5;

// media breakpoints 
$small-screen : 450px;
$medium-screen : 775px;
$large-screen: 850px;

@media (max-width: $large-screen) {

}

@media (max-width: $medium-screen) {
    
}

@media (max-width: $small-screen) {
    
}

*/
